<header>
    <div class="container" id="business-header">
        <img id="business-image" src="<%= business.image %>" alt="Business Image">
        <h1 class="display-4 pl-3 pr-3" id="business-name"><%= business.name %></h1>
    </div>
</header>

<!-- Navigation -->
<div class="container">
    <ul class="nav nav-pills m-3 nav-justified" id="pills-tab business-nav" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-about-tab" data-toggle="pill" href="#pills-about" role="tab"
                aria-controls="pills-about" aria-selected="true">About</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab"
                aria-controls="pills-news" aria-selected="false">News</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-shop-tab" data-toggle="pill" href="#pills-shop" role="tab"
                aria-controls="pills-shop" aria-selected="false">Shop</a>
        </li>
    </ul>
</div>

<!-- Content -->
<div class="tab-content" id="pills-tabContent">

    <!-- About -->
    <div class="tab-pane fade show active" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-3">
                    <div class="card">
                        <h2 class="card-header">About Us</h2>
                        <div class="card-body">
                            <p class="card-text">
                                <%= business.description %>
                                <hr><a href="#" class="btn btn-main float-right">Donate to <%= business.name %> Now</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <h4 class="card-header">Information</h4>
                        <div class="card-body">
                            <div class="card-text">
                                <h5>Address</h5>
                                <%= business.address %>
                                <% if (business.address_2) { %>
                                <br><%= business.address_2 %>
                                <% }; %>
                                <br><%= business.city %>
                                <br><%= business.postal_code %>
                                <hr>
                                <h5>Hours of Operation</h5>
                                Monday: <%= hours.mon %>
                                <br>Tuesday: <%= hours.tue %>
                                <br>Wednesday: <%= hours.wed %>
                                <br>Thursday: <%= hours.thu %>
                                <br>Friday: <%= hours.fri %>
                                <br>Saturday: <%= hours.sat %>
                                <br>Sunday: <%= hours.sun %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="share-dialog" id="share-dialog">
            <header>
              <h3 class="dialog-title">Share this pen</h3>
              <button class="close-button" id="close-button"><svg><use href="#close"></use></svg></button>
            </header>
            <div class="targets">
              <a class="button">
                <svg>
                  <use href="#facebook"></use>
                </svg>
                <span>Facebook</span>
              </a>
              
              <a class="button">
                <svg>
                  <use href="#twitter"></use>
                </svg>
                <span>Twitter</span>
              </a>
              
              <a class="button">
                <svg>
                  <use href="#linkedin"></use>
                </svg>
                <span>LinkedIn</span>
              </a>
              
              <a class="button">
                <svg>
                  <use href="#email"></use>
                </svg>
                <span>Email</span>
              </a>
            </div>
            <div class="link">
              <div type='textarea' class="pen-url" id='link'>https://codepen.io/ayoisaiah/pen/YbNazJ</div>
              <button class="copy-link" id='copy-link'>Copy Link</button>
            </div>
          </div>
          
          <button class="share-button" type="button" title="Share this article" id="share-button">
            <svg>
              <use href="#share-icon"></use>
            </svg>
            <span>Share</span>
          </button>
          
          <svg class="hidden">
            <defs>
              <symbol id="share-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share"><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path><polyline points="16 6 12 2 8 6"></polyline><line x1="12" y1="2" x2="12" y2="15"></line></symbol>
              
              <symbol id="facebook" viewBox="0 0 24 24" fill="#3b5998" stroke="#3b5998" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></symbol>
              
              <symbol id="twitter" viewBox="0 0 24 24" fill="#1da1f2" stroke="#1da1f2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></symbol>
              
              <symbol id="email" viewBox="0 0 24 24" fill="#777" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></symbol>
              
              <symbol id="linkedin" viewBox="0 0 24 24" fill="#0077B5" stroke="#0077B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></symbol>
              
              <symbol id="close" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></symbol>
            </defs>
          </svg>
    </div>

    <!-- News -->
    <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
        <div class="container">
            <% if (!news) { %>
            <p class="mt-5 mb-5 text-center">This business has not yet made any news posts.</p>
            <% } else { %>
            <% news.forEach((newsItem) => { %>
            <div class="card mb-3 mx-auto">
                <div class="card-body">
                    <h5 class="card-title"><%= newsItem.title %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= newsItem.date %></h6>
                    <p class="card-text"><%= newsItem.content %></p>
                </div>
            </div>
            <% }); %>
            <% } %>
        </div>
    </div>

    <!-- Shop -->
    <div class="tab-pane fade" id="pills-shop" role="tabpanel" aria-labelledby="pills-shop-tab">
        <div class="container">
            <div class="row">
                <% if (!products) { %>
                <p class="mt-5 mb-5 text-center">This business does not have any products available for purchase.</p>
                <% } else { %>
                <% products.forEach((product) => { %>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3 justify-content-between">
                    <div class="card product-card" style="width: 18rem;">
                        <img src="<%= product.image %>" class="card-img-top" alt="Product">
                        <div class="card-body">
                            <h5 class="card-title"><%= product.name %></h5>
                            <p class="card-text">$<%= product.cost %></p>
                        </div>
                        <div class="card-footer">
                            <a href="/donate/<%= product.id %>" class="btn btn-main float-right">Buy</a>
                        </div>
                    </div>
                </div>
                <% }); %>
                <% } %>
            </div>
        </div>
    </div>
</div>
<script src="/mediashare.js"></script>
