<!-- Page Content -->
<div class="container">

  <!-- Writing to the database -->
  <form action="/db_test" method="post">
    <h3>Enter a new business:</h3>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="address" placeholder="Address">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="province" placeholder="Province">
    <input type="text" name="category" placeholder="Category">
    <input type="submit" value="Submit">
  </form>

  <!-- Reading from the database -->
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
        <th>City</th>
        <th>Province</th>
        <th>Category</th>
        <th>Donations Received</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through the results of the SQL query -->
      <% businesses.forEach((business) => { %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.description %></td>
        <td><%= business.address %></td>
        <td><%= business.city %></td>
        <td><%= business.province %></td>
        <td><%= business.category %></td>
        <td><%= business.donations_received %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Team 8 2800</p>
  </div>
  <!-- /.container -->
</footer>