<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <h2 class="card-header"><%= product.name %></h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="<%= product.image %>" class="img-fluid" alt="Product Image"/>
                        </div>
                        <div class="col-md-8">
                            <p> <%= product.description %></p>
                            <br><hr><br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="paypal-button-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>


<script src="https://www.paypal.com/sdk/js?currency=CAD&client-id=AdCxqsvZVk8XNDLTjmt_tJ43ke7dKQFrPcG8_qpDe4fylQ9NRWyyFH3fF2DqV9QRz1iL-GxMzp8O8R07"></script>
<script>
    paypal.Buttons({
        createOrder: function(data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: "<%= product.cost %>"                        
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function(details) {
                // This function shows a transaction success message to your buyer.

                alert('Transaction completed by ' + details.payer.name.given_name);
                // push to DB via POST
                // $.ajax({
                //     url: '/addDonation',
                //     method: 'POST',
                //     data: {
                //         userID: 1,
                //         productID: '<%= product.id %>',
                //         amount: '<%= product.amount %>',
                //     }
                // }).done(function(data) {
                //     alert(data.success);
                // }).fail(function(error) {
                //     console.log(error);
                // });
            });
        }
    }).render('#paypal-button-container');
    //This function displays Smart Payment Buttons on your web page.
</script>