<div class="container mt-3">
    <div id="donationFail" class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
        <strong>Sorry!</strong> Your donation was unsuccessful. Please try again.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="container mt-3">
    <div id="donationSuccess" class="alert alert-success alert-dismissible fade show mt-1" role="alert">
        <strong>Congratulations!</strong> Your donation was successful. <a href="/my_donations" class="alert-link">Click here to view your donations.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <h2 class="card-header"><%= product.name %> <span style="float:right;">$<%= product.cost %></span></h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/src/images/products/<%= product.id %>.png" class="img-fluid" alt="Product Image"/>
                        </div>
                        <div class="col-md-8">
                            <p> <%= product.description %></p>
                            <br><hr><br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="paypal-button-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>

<script src="https://www.paypal.com/sdk/js?currency=CAD&client-id=AdCxqsvZVk8XNDLTjmt_tJ43ke7dKQFrPcG8_qpDe4fylQ9NRWyyFH3fF2DqV9QRz1iL-GxMzp8O8R07"></script>
<script>
    $('#donationFail').hide();
    $('#donationSuccess').hide();

    paypal.Buttons({
        createOrder: function(data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            $('#donationFail').hide();
            $('#donationSuccess').hide();
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: "<%= product.cost %>"                        
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function(details) {
                // This function shows a transaction success message to your buyer.
                // push to DB via POST
                $.ajax({
                    url: '/addDonation',
                    method: 'POST',
                    data: {
                        product_id: "<%= product.id %>",
                        amount: "<%= product.cost %>"
                    }
                }).done(function(data) {
                    // window.location.href = "/my_donations";
                    $('#donationSuccess').show();
                }).fail(function(error) {
                    console.log(error);
                    $('#donationFail').show();
                });
            });
        },
        onCancel: function (data) {
            $('#donationFail').show();
        },
        onError: function (err) {
            $('#donationFail').show();
        }
    }).render('#paypal-button-container');
    //This function displays Smart Payment Buttons on your web page.
</script>