<!-- Donation Carousel -->
<div class="carousel-inner">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active carousel-conation" id="logoBanner">
        <div class="col-lg-12 text-center">
        </div>
    </div>
</div>
<!-- Filter and Sort -->
<div class="container mt-4">
    <div class="card">
        <form>
            <div class="form-group row mt-3 mx-1">
                <label for="search" class="col-md-2 offset-lg-1 col-form-label">Search by...</label>
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <input class="form-control form-control-sm" id="searchText" type="search" placeholder="Search">
                </div>
            </div>
            <div class="form-group row mx-1">
                <label for="filter" class="col-md-2 offset-lg-1 col-form-label">Filter by...</label>
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <select class="form-control form-control-sm" id="searchFilter">
                        <option selected>None</option>
                        <option>Bakery</option>
                        <option>Café</option>
                        <option>Clothing</option>
                        <option>Floral</option>
                        <option>Electronics</option>
                        <option>Gifts</option>
                        <option>Grocery</option>
                        <option>Medical</option>
                        <option>Restaurant</option>
                        <option>Services</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 offset-sm-3 col-form-label text-center">
                    <div class="form-check">
                        <input class="form-check-input" id="searchOnlineStore" type="checkbox">
                        <label class="form-check-label" for="searchOnlineStore">
                            Online Store Available
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button class="btn btn-dark offset-lg-1 float-right mb-0 mt-2" id="searchSubmit" type="button">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    <!-- Display Search Results -->
<div class="container justify-content-between">
    <div class="row my-2">
        <div class="col-sm-4 col-md-3"></div>
            <div class="alert alert-light mt-3 col-sm-4 col-md-6 text-center" id="searchBanner" role="alert">
                <span id="searchBannerText"></span> <span id="searchBannerFilter"></span> <span
                        id="searchBannerOnlineStore"></span>
            </div>
        <div class="col-sm-4 col-md-3"></div>
    </div>
</div>
<!-- Business Listings -->
<div class="container">
    <% businesses.forEach((business) => { %>
    <div class="row my-3 businessCard <%= business.category %> productCount<%= business.product_count %>">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"><strong><%= business.name %></strong> |
                    <%= business.category %></div>
                <div class="card-body">
                    <p>
                        <%= business.description %>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="/business/<%= business.id %>" class="btn btn-main float-right">Learn More!</a>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</div>

<script>
    $("#searchBanner").hide();

    $("#searchSubmit").on("click", () => {
        $(".businessCard").show();
        $("#searchBanner").hide();
        $("#searchBannerText").html("");
        $("#searchBannerFilter").html("");
        $("#searchBannerOnlineStore").html("");

        let text = $("#searchText").val();
        if (text) {
            console.log("Searching by " + text);
            $(".businessCard:not(:contains(" + text + "))").hide();
            $("#searchBanner").show();
            $("#searchBannerText").html("Showing results for: \"" + text + "\".");
        }

        let filter = $("#searchFilter").val();
        if (filter !== "None") {
            console.log("Filtering by " + filter);
            $(".businessCard:not(." + filter + "):visible").hide();
            $("#searchBanner").show();
            if (text) {
                $("#searchBannerFilter").html("<br>Filtering by category: " + filter + ".");
            } else {
                $("#searchBannerFilter").html("Filtering by category: " + filter + ".");
            }
        }

        let onlineStore = $("#searchOnlineStore").is(":checked");
        if (onlineStore) {
            console.log("Filtering by online store");
            $(".businessCard.productCount0:visible").hide();
            $("#searchBanner").show();
            if (text || filter !== "None") {
                $("#searchBannerOnlineStore").html("<br>Showing businesses with an online store.");
            } else {
                $("#searchBannerOnlineStore").html("Showing businesses with an online store.");
            }
        }
    });
</script>