<div id="updateSuccess" class="container mt-3" style="display: none">
    <div class="alert alert-success alert-dismissible fade show mt-1" role="alert">
        <strong>Success!</strong> Your information has been changed.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div id="updateFail" class="container mt-3" style="display: none">
    <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
        <strong>Sorry!</strong> Your information could not be changed. Please try again.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<!-- The Card -->
<div class="my-4 container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h2 class="card-header">Settings</h2>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <!-- Sidebar -->
                            <div class="col-md-3">
                                <ul class="nav nav-pills navbar-danger flex-lg-column mb-3 nav-fill" id="settingsTabs" role="tablist" aria-orientation="horizontal">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="profileTab" data-toggle="pill" href="#profileSettings" role="tab" aria-controls="profileSettings" aria-selected="true">
                                            Profile Information
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="businessTab" data-toggle="pill" href="#businessSettings" role="tab" aria-controls="businessSettings" aria-selected="false">
                                            Business Information
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Profile Information Tab -->
                            <div class="col-md-8">
                                <div class="tab-content" id="settingsTabsContent">
                                    <div class="tab-pane fade show active" id="profileSettings" role="tabpanel" aria-labelledby="profileTab">
                                        <h3>Profile Information</h3>
                                        <form id="profileUpdate" action="/updateProfile" method="post">
                                            <br>


                                            <!-- Email -->
                                             <div class="form-group row">
                                                <label for="email" class="col-sm-3 col-form-label">Email:</label>
                                                <div class="col-sm-9">
                                                    <input type="email" class="form-control" id="email" value="<%= email %>" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" disabled>
                                                    <small id="emailTaken" class="form-text text-danger"></small>
                                                </div>
                                            </div>

                                            <!-- Business Owner FirstName -->
                                            <div class="form-group row">
                                                <label for="firstName" class="col-sm-3 col-form-label">First Name:</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName" required>
                                                    <small id="fNameHelp" class="form-text text-muted">The business owner's first name.</small>
                                                </div>
                                            </div>

                                            <!-- Business Owner LastName -->
                                            <div class="form-group row">
                                                <label for="lastName" class="col-sm-3 col-form-label">Last Name:</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName" required>
                                                    <small id="lNameHelp" class="form-text text-muted">The business owner's last name.</small>

                                                </div>
                                            </div>

                                            <!-- Phone Number -->
                                            <div class="form-group row">
                                                <label for="phone" class="col-sm-3 col-form-label">Phone Number:</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="phone" placeholder="111-222-3333" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                                                    <small id="phoneNumHelp" class="form-text text-muted">Please format as follows: xxx-xxx-xxxx</small>
                                                </div>
                                            </div>
                                            <!-- Submit for Business Profile-->
                                            <input id="businessProfileChange" type="submit" class="btn btn-main float-right" value="Save Changes">
                                        </form>

                                        <br><br><hr><br>
                                        <!-- Update Password Form -->
                                        <form id="passwordUpdate" action="/updatePassword" method="post">
                                            <h5>Update Password</h5>
                                            <br>
                                            <!-- New Password -->
                                            <div class="form-group row">
                                                <label for="password" class="col-sm-3 col-form-label">Password:</label>
                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" id="passwordInput" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!?$%&@#]).{8,}" name="password" title="Does not meet requirements" onkeyup="checkPasswordMatch(); finalPasswordCheck()" required>
                                                    <small id="passwordHelp" class="form-text text-muted">Passwords must be at least 8 characters long, contain one uppercase letter, one lowercase letter, one number and one special character (!?$%&@#)</small>
                                                </div>
                                            </div>
                                            <!-- Confirm New Password -->
                                            <div class="form-group row">
                                                <label for="passwordConfirm" class="col-sm-3 col-form-label">Confirm Password:</label>
                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm Password" name="passwordConfirm" onkeyup="checkPasswordMatch(); checkPasswordIsValid(this); finalPasswordCheck()" required>
                                                    <small id="divCheckPasswordMatch" class="form-text text-danger"></small>
                                                    <small id="divCheckPasswordMatchTrue" class="form-text text-success"></small>
                                                </div>
                                            </div>
                                            <input id="businessPasswordChange" type="submit" class="btn btn-main float-right" value="Update Password">
                                        </form>
                                    </div>
                                    <!-- Business Information Settings -->
                                    <div class="tab-pane fade" id="businessSettings" role="tabpanel" aria-labelledby="businessTab">
                                        <h3>Business Information</h3>
                                        <form id="businessUpdate" action="/updateBusinessInfo" method="post">
                                            <br>
                                            <div class="form-group">
                                                <label for="inputAddress">Address</label>
                                                <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St" value="<%= address %>" required>
                                            </div>
                                            <!-- THESE ARE HIDDEN -->
                                            <!-- lat -->
                                            <!-- style="display: none;" -->
                                            <div class="form-group" style="display: none;">
                                                <label for="lat">lat</label>
                                                <input type="text" class="form-control" id="lat" placeholder="lat" name="lat" value="<%= lat %>" required>
                                            </div>
                                            <!-- long -->
                                            <div class="form-group" style="display: none;">
                                                <label for="lat">long</label>
                                                <input type="text" class="form-control" id="long" placeholder="long" name="long" value="<%= lng %>" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputAddress2">Address Line 2</label>
                                                <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor" value="<%= address_2 %>">
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputCity">City</label>
                                                    <input type="text" class="form-control" id="city" name="city" value="<%= city %>" required>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label for="inputProvince">Province or Territory</label>
                                                    <select id="province" class="form-control" name="province" required>
                                                        <option selected>BC</option>
                                                        <option>AB</option>
                                                        <option>MB</option>
                                                        <option>NB</option>
                                                        <option>NL</option>
                                                        <option>NS</option>
                                                        <option>NT</option>
                                                        <option>NU</option>
                                                        <option>PE</option>
                                                        <option>QC</option>
                                                        <option>SK</option>
                                                        <option>ON</option>
                                                        <option>YT</option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-md-2">
                                                    <label for="postal">Postal Code</label>
                                                    <input type="text" class="form-control" id="inputPostal" name="postal" value="<%= postal_code %>" required>
                                                </div>

                                            </div>
                                            <br><hr><br>
                                            <h4>About</h4>
                                            <br>
                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <textarea class="form-control" id="description" rows="3" placeholder="Description" name="description" ><%= description %></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label for="businessTag">Category</label>
                                                <small id="tagHelp" class="form-text text-muted">Choose the category that best describes your business</small>
                                                <select id="category" class="form-control" name="category" required>
                                                    <option value="" id="placeholderOption" value="Select" selected disabled>---</option>
                                                    <option>Bakery</option>
                                                    <option>Café</option>
                                                    <option>Clothing</option>
                                                    <option>Floral</option>
                                                    <option>Electronics</option>
                                                    <option>Gifts</option>
                                                    <option>Grocery</option>
                                                    <option>Medical</option>
                                                    <option>Restaurant</option>
                                                    <option>Services</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>

                                            <!-- Submit -->
                                            <input id="businessInfoChange" type="submit" class="btn btn-main float-right" value="Save Changes">
                                            </form>
                                            <!-- Update Business Hours -->

                                            <br><br><hr><br>
                                            <form action="/updateBusinessHours" method="post">
                                                <h3>Hours of Operation</h3>
                                                <small class="form-text text-muted mb-3">Select the time your business opens and closes each day.<br>Select "Closed"
                                                    if your business is closed that day.<br>Select "24 hours" if your business is open all day.</small>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6 col-med-6 col-lg-2">
                                                        <label>Monday</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="monCheckClosed" name="monClosed">
                                                            <label class="form-check-label" for="monCheckClosed">Closed</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="monCheck24" name="mon24">
                                                            <label class="form-check-label" for="monCheck24">24 hours</label>
                                                        </div>
                                                        <small class="form-text text-muted">Open</small>
                                                        <select class="time-input form-control form-control-sm" id="monOpen" name="monOpen"></select>
                                                        <small class="form-text text-muted">Close</small>
                                                        <select class="time-input form-control form-control-sm" id="monClose" name="monClose"></select>
                                                    </div>
                                                    <div class="form-group col-sm-6 col-lg-2">
                                                        <label>Tuesday</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="tueCheckClosed" name="tueClosed">
                                                            <label class="form-check-label" for="tueCheckClosed">Closed</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="tueCheck24" name="tue24">
                                                            <label class="form-check-label" for="tueCheck24">24 hours</label>
                                                        </div>
                                                        <small class="form-text text-muted">Open</small>
                                                        <select class="time-input form-control form-control-sm" id="tueOpen" name="tueOpen"></select>
                                                        <small class="form-text text-muted">Close</small>
                                                        <select class="time-input form-control form-control-sm" id="tueClose" name="tueClose"></select>
                                                    </div>
                                                    <div class="form-group col-sm-6 col-lg-2">
                                                        <label>Wednesday</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="wedCheckClosed" name="wedClosed">
                                                            <label class="form-check-label" for="wedCheckClosed">Closed</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="wedCheck24" name="wed24">
                                                            <label class="form-check-label" for="wedCheck24">24 hours</label>
                                                        </div>
                                                        <small class="form-text text-muted">Open</small>
                                                        <select class="time-input form-control form-control-sm" id="wedOpen" name="wedOpen"></select>
                                                        <small class="form-text text-muted">Close</small>
                                                        <select class="time-input form-control form-control-sm" id="wedClose" name="wedClose"></select>
                                                    </div>
                                                    <div class="form-group col-sm-6 col-lg-2">
                                                        <label>Thursday</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="thuCheckClosed" name="thuClosed">
                                                            <label class="form-check-label" for="thuCheckClosed">Closed</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="thuCheck24" name="thu24">
                                                            <label class="form-check-label" for="thuCheck24">24 hours</label>
                                                        </div>
                                                        <small class="form-text text-muted">Open</small>
                                                        <select class="time-input form-control form-control-sm" id="thuOpen" name="thuOpen"></select>
                                                        <small class="form-text text-muted">Close</small>
                                                        <select class="time-input form-control form-control-sm" id="thuClose" name="thuClose"></select>
                                                    </div>
                                                    <div class="form-group col-sm-6 col-lg-2">
                                                        <label>Friday</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="friCheckClosed" name="friClosed">
                                                            <label class="form-check-label" for="friCheckClosed">Closed</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="friCheck24" name="fri24">
                                                            <label class="form-check-label" for="friCheck24">24 hours</label>
                                                        </div>
                                                        <small class="form-text text-muted">Open</small>
                                                        <select class="time-input form-control form-control-sm" id="friOpen" name="friOpen"></select>
                                                        <small class="form-text text-muted">Close</small>
                                                        <select class="time-input form-control form-control-sm" id="friClose" name="friClose"></select>
                                                    </div>
                                                    <div class="d-none d-lg-block col-lg-2"></div>
                                                    <div class="form-group col-sm-6 col-lg-2">
                                                        <label>Saturday</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="satCheckClosed" name="satClosed">
                                                            <label class="form-check-label" for="satCheckClosed">Closed</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="satCheck24" name="sat24">
                                                            <label class="form-check-label" for="satCheck24">24 hours</label>
                                                        </div>
                                                        <small class="form-text text-muted">Open</small>
                                                        <select class="time-input form-control form-control-sm" id="satOpen" name="satOpen"></select>
                                                        <small class="form-text text-muted">Close</small>
                                                        <select class="time-input form-control form-control-sm" id="satClose" name="satClose"></select>
                                                    </div>
                                                    <div class="form-group col-sm-6 col-lg-2">
                                                        <label>Sunday</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="sunCheckClosed" name="sunClosed">
                                                            <label class="form-check-label" for="sunCheckClosed">Closed</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="sunCheck24" name="sun24">
                                                            <label class="form-check-label" for="sunCheck24">24 hours</label>
                                                        </div>
                                                        <small class="form-text text-muted">Open</small>
                                                        <select class="time-input form-control form-control-sm" id="sunOpen" name="sunOpen"></select>
                                                        <small class="form-text text-muted">Close</small>
                                                        <select class="time-input form-control form-control-sm" id="sunClose" name="sunClose"></select>
                                                    </div>
                                                </div>
                                            
                                                <!-- Submit Business Hours -->
                                                <input id="businessHourChange" type="submit" class="btn btn-main float-right" value="Save Changes">
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOG3EpPiavwq5xcbGYHnX9efVUwtPeDcw"></script>
<script src="registration.js"></script>
<script src="hours.js"></script>

<script>
    let urlParams = new URLSearchParams(window.location.search);
    let success = urlParams.get('success');

    if (success === "true") {
        $('#updateFail').hide();
        $('#updateSuccess').show();
    }
    else if (success === "false") {
        $('#updateSuccess').hide();
        $('#updateFail').show();
    }
</script>